/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 */

@import 'froala_editor.min';
@import 'froala_style.min';
@import 'plugins/char_counter.min';
@import 'plugins/code_view.min';
@import 'plugins/colors.min';
@import 'plugins/emoticons.min';
@import 'plugins/file.min';
@import 'plugins/fullscreen.min';
@import 'plugins/image.min';
@import 'plugins/image_manager.min';
@import 'plugins/line_breaker.min';
@import 'plugins/quick_insert.min';
@import 'plugins/table.min';
@import 'plugins/video.min';
@import 'font-awesome';
@import 'icheck/flat/all';
@import 'colors';

body {
  background: rgb(59, 78, 89);
}

.page-header.dashboard {
  border-color: $RAprimary;
}

a.navbar-brand {
  background: rgba(0, 0, 0, 0.1) !important;
}

.breadcrumb {
  background: $RAblue;
  .false a {
    color: darken($RAblue, 30%) !important;
  }
  .active, .active:before {
    color: #FFF;
  }
}

.table-striped {
  border-top-color: $RAblue;
}

.content {
  margin: 20px 0 15px 0;
  padding: 8px;
  &.dashboard {
    background: rgb(59, 78, 89);
  }
}

.box {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid $RAprimary;
  position: relative;
  min-height: 170px;
  transition: all 0.3s ease;
  color: rgba(255,255,255,0.7);
  overflow: hidden;
  &:hover, &:focus {
    border-color: #FFF;
    .icon-bg {
      transform: scale(1.5) rotate(20deg);
    }
  }
  p {
    min-height: 30px;
    font-size: 15px;
    font-weight: 600;
    a.btn {
      border-radius: 3px;
      color: rgba(255,255,255,0.7) !important;
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.19);
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  strong {
    font-size: 36px;
    font-weight: 600;
  }
  .icon-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 100px;
    color: #000;
    opacity: 0.08;
    filter: alpha(opacity=8);
    transition: all 1s ease;
  }
  &.bg-info {
    background-color: $RAblue;
  }
  &.bg-success {
    background-color: $RAgreen;
  }
  &.bg-warning {
    background-color: $RAyellow;
  }
  &.bg-danger {
    background-color: $RAred;
  }
}
