/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 */
@import 'froala_editor.min';
@import 'froala_style.min';
@import 'plugins/char_counter.min';
@import 'plugins/code_view.min';
@import 'plugins/colors.min';
@import 'plugins/draggable.min';
@import 'plugins/emoticons.min';
@import 'plugins/file.min';
@import 'plugins/fullscreen.min';
@import 'plugins/image.min';
@import 'plugins/image_manager.min';
@import 'plugins/line_breaker.min';
@import 'plugins/quick_insert.min';
@import 'plugins/table.min';
@import 'plugins/video.min';
@import 'font-awesome';

$ra-primary: #1c2c41;
$ra-green: #37bc9b;
$ra-blue: #3bafda;
$ra-red: #e9573f;
$ra-yellow: #f6bb42;

body {
  background: rgb(59, 78, 89);
}

.page-header.dashboard {
  border-color: $ra-primary;
}

.breadcrumb {
  background: $ra-blue;

  .false a,
  .false:before {
    color: darken($ra-blue, 30%) !important;
  }

  .active,
  .active:before {
    color: #fff;
  }
}

.table-striped {
  border-top-color: $ra-blue;

  .links ul li {
    padding-right: 0;

    a {
      border-radius: 50%;
    }
  }
}

.content {
  margin: 20px 0 15px;
  padding: 8px;

  &.dashboard {
    background: rgb(59, 78, 89);
  }
}

a.delete {
  color: #fff;
}

.box {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid $ra-primary;
  position: relative;
  min-height: 170px;
  transition: all .3s ease;
  color: rgba(255, 255, 255, .7);
  overflow: hidden;

  &:focus,
  &:hover {
    border-color: #fff;

    .icon-bg {
      transform: scale(1.5) rotate(20deg);
    }
  }

  p {
    min-height: 30px;
    font-size: 15px;
    font-weight: 600;

    a.btn {
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.7) !important;
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: rgba(0, 0, 0, .19);
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  strong {
    font-size: 36px;
    font-weight: 600;
  }

  .icon-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 100px;
    color: #000;
    opacity: .08;
    filter: alpha(opacity=8);
    transition: all 1s ease;
  }

  &.bg-info {
    background-color: $ra-blue;
  }

  &.bg-success {
    background-color: $ra-green;
  }

  &.bg-warning {
    background-color: $ra-yellow;
  }

  &.bg-danger {
    background-color: $ra-red;
  }
}
