/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= required _colors

 *= require font-awesome
 *= require_tree .
 *= stub rails_admin/custom/theming.scss
 *= require_self
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'colors';
@import 'mixins';

body {
  height: 100vh;
  color: #FFF;
  background: linear-gradient(-20deg, #09b7b9 30%, #1c51a4 100%);
}

.navbar-brand {
  padding-top: 12px;
}

.alert {
  z-index: 999;
  position: fixed;
  border-radius: 0;
  border: 0;
  color: #fff;
  width: 100%;
}

.alert-info {
  background-color: #3498db;
}

.alert-success {
  background-color: #2ecc71;
}

.alert-danger {
  background-color: #e74c3c;
}
