$RAprimary: #1c2c41;
$RAgreen: #37BC9B;
$RAblue: #3BAFDA;
$RAred: #E9573F;
$RAyellow: #F6BB42;
$secondary: #304158;
$ternary: #37BC9B;
$light: #47566c;
$rose: #e13278;
$azul: #77dee7;
$blue: #0C457D;
$grey: #706f6f;
