@mixin transition($time) {
  -webkit-transition: all $time ease-in;
  -moz-transition: all $time ease-in;
  -o-transition: all $time ease-in;
  transition: all $time ease-in;
}

@mixin lol() {
  .row {
    display: table;
  }

  [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}